h1{
    color: rgb(239, 96, 43);
    text-align: center;
    background-color: burlywood;
    font-size: 80px;
}
h2{
    font-size:xx-large;
    font-style: italic;
}
img {
        width:20%;
        height: auto;
        border-radius: 120px;
        box-shadow: 0 0 10px rgba(70, 91, 222, 0.2);
        margin: 20px;
        border-color: rgb(25, 170, 32);   
      }
      
      
}
h4{
    padding: 20px 15px 20px 15px;
    border: color(srgb red green blue);
}
h3{
    color: rgb(221, 62, 157);
    width: 15px;
    font-size:40px
}
h6{
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.5;
    padding: 20px;
    background-color: #d9d9d9;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  a{
    text-decoration: none;
    text-align: center;
  }